.button {
  background-color: #fff;
  border-radius: 72794px; /* Keep round edges at all sizes */
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  color: #000;
  display: inline-block;  /* Makes sure width is equal to its content. */
  font-size: 0.875rem;
  line-height: 1;
  padding: 1.25em 2em; /* Relative to current font size */
  text-shadow: none;
  transform-origin: center;
  transition-duration: 100ms;
  transition-property: box-shadow, transform;
  user-select: none;
  vertical-align: top; /* Keeps spacing tight. */
  white-space: nowrap; /* Never display text on 2 lines. */
  will-change: box-shadow, transform;
}

.button:hover {
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  transform: scale(1.02) translateY(-4px); /* Scale up when users hover */
}

.button:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  transform: scale(0.98) translateY(-2px); /* Look pressed when users click */
}
